body {
    font-size: 24px;
    background-color: rgb(216, 216, 216);
    font-family: 'Roboto Mono', monospace;
}

header {
    text-align: center;
}

#cardHeader::after {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

h3{
    margin:25px 0 10px 0;
    width: 100%;
}

#charChoices {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.options {
    font-size: 16px;
}

#card {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#passwordBox {
    border-style: dashed;
    border-width: 3px;
    border-color: rgb(216,216,216);
    text-align: center;
    margin-bottom: 20px;;
}

#generatedPassword {
    margin: 20px;
}

#cardFooter {
    display:flex;
    justify-content:space-around;
}
#createPassword {
    background-color: blue;
    color: white;
    border-radius: 25px;
    border-style: none;
    padding:15px;

}

#copyPassword {
    background-color: grey;
    color: white;
    border-radius: 25px;
    border-style: none;
    padding:15px;

}

@media screen and (max-width: 1024px) {
body {
    font-size: 20px;
}

#card {
    width: 90%
}

}

@media screen and (max-width: 480px) {

body {
    font-size: 16px;
}

#card {
    width:98%;
}

#charChoices {
    display: flex;
    flex-direction: column;

}
.options {
    font-size: 12px;
    margin: 0;
}

.checkbox {
    margin: 0;

}
#createPassword, #copyPassword {
    font-size: 12px;
    padding: 10px;
}
}
